node_modules/
dist/
dist-test/
coverage/
*.tsbuildinfo
.env
.env.*
!.env.example
*.log
.DS_Store
.private/
.jostraca/

.sdk/model/sdk.json
.sdk/model/.model-config/model-config.json
.sdk/test/.model-config/model-config.json
ts/test/.examples_*.gen.ts
!ts/dist/
