{
  "openapi": "3.0.0",
  "info": {
    "title": "Firecrawl Scrape and Map API",
    "version": "v2",
    "description": "API for interacting with Firecrawl services to perform web scraping and crawling tasks.",
    "contact": {
      "name": "Firecrawl Support",
      "url": "https://firecrawl.dev/support",
      "email": "support@firecrawl.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "summary": "Scrape a single URL and optionally extract information using an LLM",
        "operationId": "scrapeAndExtractFromUrl",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to scrape"
                  },
                  "formats": {
                    "$ref": "#/components/schemas/Formats"
                  },
                  "onlyMainContent": {
                    "type": "boolean",
                    "description": "Only return the main content of the page excluding headers, navs, footers, etc. This is a deterministic HTML-level filter applied before markdown is generated; no LLM is involved.",
                    "default": true
                  },
                  "onlyCleanContent": {
                    "type": "boolean",
                    "description": "Beta. Run an additional LLM-based pass over the generated markdown to remove residual boilerplate that `onlyMainContent` can miss (cookie banners, ad blocks, social share widgets, breadcrumbs, newsletter signups, comment sections, related-article lists). Headings, lists, tables, code blocks, image references, and inline links are preserved. Can be combined with `onlyMainContent` (the most common setup) or used on its own. Skipped with a warning when the markdown exceeds the cleaning model's output token limit (the original markdown is preserved). Not supported on zero-data-retention requests.",
                    "default": false
                  },
                  "includeTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to include in the output."
                  },
                  "excludeTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to exclude from the output."
                  },
                  "maxAge": {
                    "type": "integer",
                    "description": "Returns a cached version of the page if it is younger than this age in milliseconds. If a cached version of the page is older than this value, the page will be scraped. If you do not need extremely fresh data, enabling this can speed up your scrapes by 500%. Defaults to 2 days.",
                    "default": 172800000
                  },
                  "minAge": {
                    "type": "integer",
                    "description": "When set, the request only checks the cache and never triggers a fresh scrape. The value is in milliseconds and specifies the minimum age the cached data must be. If matching cached data exists, it is returned instantly. If no cached data is found, a 404 with error code SCRAPE_NO_CACHED_DATA is returned. Set to 1 to accept any cached data regardless of age."
                  },
                  "headers": {
                    "type": "object",
                    "description": "Headers to send with the request. Can be used to send cookies, user-agent, etc."
                  },
                  "waitFor": {
                    "type": "integer",
                    "description": "Specify a delay in milliseconds before fetching the content, allowing the page sufficient time to load. This waiting time is in addition to Firecrawl's smart wait feature.",
                    "default": 0
                  },
                  "mobile": {
                    "type": "boolean",
                    "description": "Set to true if you want to emulate scraping from a mobile device. Useful for testing responsive pages and taking mobile screenshots.",
                    "default": false
                  },
                  "skipTlsVerification": {
                    "type": "boolean",
                    "description": "Skip TLS certificate verification when making requests.",
                    "default": true
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Timeout in milliseconds for the request. Minimum is 1000 (1 second). Default is 60000 (60 seconds). Maximum is 300000 (300 seconds).",
                    "default": 60000,
                    "minimum": 1000,
                    "maximum": 300000
                  },
                  "parsers": {
                    "type": "array",
                    "description": "Controls how files are processed during scraping. When \"pdf\" is included (default), the PDF content is extracted and converted to markdown format, with billing based on the number of pages (1 credit per page). When an empty array is passed, the PDF file is returned in base64 encoding with a flat rate of 1 credit for the entire PDF.",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "pdf"
                              ]
                            },
                            "mode": {
                              "type": "string",
                              "enum": [
                                "fast",
                                "auto",
                                "ocr"
                              ],
                              "default": "auto",
                              "description": "PDF parsing mode. \"fast\": text-based extraction only (embedded text, fastest). \"auto\" (default): attempts fast extraction first, falls back to OCR if needed. \"ocr\": forces OCR parsing on every page."
                            },
                            "maxPages": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10000,
                              "description": "Maximum number of pages to parse from the PDF. Must be a positive integer up to 10000."
                            },
                            "pages": {
                              "type": "boolean",
                              "default": false,
                              "description": "Include physical per-page markdown alongside the document markdown. Populates the `pages` field on the document as an array of { pageNumber, markdown }. No additional cost."
                            },
                            "blocks": {
                              "type": "boolean",
                              "default": false,
                              "description": "Include per-page typed layout blocks alongside the document markdown. Populates the `blocks` field on the document: typed blocks (title, section_header, text, table, formula, figure, caption, ...) with normalized bounding boxes, reading order, character-span links into the markdown, and per-block confidence. No additional cost."
                            },
                            "pageMarkers": {
                              "type": "boolean",
                              "default": false,
                              "description": "Annotate page breaks in the document markdown: pages are joined with `\\n\\n---\\n\\n<!-- page N -->\\n\\n`, where N is the 1-based physical page of the content that follows. Markers appear between pages only (no leading marker for page 1), and numbering may skip pages merged across a page break — use `pages: true` when every physical page is needed. No new response field; no additional cost."
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "default": [
                      "pdf"
                    ]
                  },
                  "actions": {
                    "type": "array",
                    "description": "Actions to perform on the page before grabbing the content",
                    "items": {
                      "oneOf": [
                        {
                          "title": "Wait",
                          "oneOf": [
                            {
                              "type": "object",
                              "title": "Wait by Duration",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "wait"
                                  ],
                                  "description": "Wait for a specified amount of milliseconds"
                                },
                                "milliseconds": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "description": "Number of milliseconds to wait"
                                }
                              },
                              "required": [
                                "type",
                                "milliseconds"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "title": "Wait for Element",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "wait"
                                  ],
                                  "description": "Wait for a specific element to appear"
                                },
                                "selector": {
                                  "type": "string",
                                  "description": "CSS selector to wait for",
                                  "example": "#my-element"
                                }
                              },
                              "required": [
                                "type",
                                "selector"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Screenshot",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "screenshot"
                              ],
                              "description": "Take a screenshot. The links will be in the response's `actions.screenshots` array."
                            },
                            "fullPage": {
                              "type": "boolean",
                              "description": "Whether to capture a full-page screenshot (ignores viewport.height) or limit to the current viewport.",
                              "default": false
                            },
                            "quality": {
                              "type": "integer",
                              "description": "The quality of the screenshot, from 1 to 100. 100 is the highest quality."
                            },
                            "viewport": {
                              "type": "object",
                              "properties": {
                                "width": {
                                  "type": "integer",
                                  "description": "The width of the viewport in pixels"
                                },
                                "height": {
                                  "type": "integer",
                                  "description": "The height of the viewport in pixels"
                                }
                              },
                              "required": [
                                "width",
                                "height"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Click",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "click"
                              ],
                              "description": "Click on an element"
                            },
                            "selector": {
                              "type": "string",
                              "description": "Query selector to find the element by",
                              "example": "#load-more-button"
                            },
                            "all": {
                              "type": "boolean",
                              "description": "Clicks all elements matched by the selector, not just the first one. Does not throw an error if no elements match the selector.",
                              "default": false
                            }
                          },
                          "required": [
                            "type",
                            "selector"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Write text",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "write"
                              ],
                              "description": "Write text into an input field, text area, or contenteditable element. Note: You must first focus the element using a 'click' action before writing. The text will be typed character by character to simulate keyboard input."
                            },
                            "text": {
                              "type": "string",
                              "description": "Text to type",
                              "example": "Hello, world!"
                            }
                          },
                          "required": [
                            "type",
                            "text"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Press a key",
                          "description": "Press a key on the page. See https://asawicki.info/nosense/doc/devices/keyboard/key_codes.html for key codes.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "press"
                              ],
                              "description": "Press a key on the page"
                            },
                            "key": {
                              "type": "string",
                              "description": "Key to press",
                              "example": "Enter"
                            }
                          },
                          "required": [
                            "type",
                            "key"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Scroll",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "scroll"
                              ],
                              "description": "Scroll the page or a specific element"
                            },
                            "direction": {
                              "type": "string",
                              "enum": [
                                "up",
                                "down"
                              ],
                              "description": "Direction to scroll",
                              "default": "down"
                            },
                            "selector": {
                              "type": "string",
                              "description": "Query selector for the element to scroll",
                              "example": "#my-element"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Scrape",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "scrape"
                              ],
                              "description": "Scrape the current page content, returns the url and the html."
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Execute JavaScript",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "executeJavascript"
                              ],
                              "description": "Execute JavaScript code on the page"
                            },
                            "script": {
                              "type": "string",
                              "description": "JavaScript code to execute",
                              "example": "document.querySelector('.button').click();"
                            }
                          },
                          "required": [
                            "type",
                            "script"
                          ]
                        },
                        {
                          "type": "object",
                          "title": "Generate PDF",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "pdf"
                              ],
                              "description": "Generate a PDF of the current page. The PDF will be returned in the `actions.pdfs` array of the response."
                            },
                            "format": {
                              "type": "string",
                              "enum": [
                                "A0",
                                "A1",
                                "A2",
                                "A3",
                                "A4",
                                "A5",
                                "A6",
                                "Letter",
                                "Legal",
                                "Tabloid",
                                "Ledger"
                              ],
                              "description": "The page size of the resulting PDF",
                              "default": "Letter"
                            },
                            "landscape": {
                              "type": "boolean",
                              "description": "Whether to generate the PDF in landscape orientation",
                              "default": false
                            },
                            "scale": {
                              "type": "number",
                              "description": "The scale multiplier of the resulting PDF",
                              "default": 1
                            }
                          },
                          "required": [
                            "type"
                          ]
                        }
                      ]
                    }
                  },
                  "location": {
                    "type": "object",
                    "description": "Location settings for the request. When specified, this will use an appropriate proxy if available and emulate the corresponding language and timezone settings. Defaults to 'US' if not specified.",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g., 'US', 'AU', 'DE', 'JP')",
                        "pattern": "^[A-Z]{2}$",
                        "default": "US"
                      },
                      "languages": {
                        "type": "array",
                        "description": "Preferred languages and locales for the request in order of priority. Defaults to the language of the specified location. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                        "items": {
                          "type": "string",
                          "example": "en-US"
                        }
                      }
                    }
                  },
                  "removeBase64Images": {
                    "type": "boolean",
                    "description": "Removes all base 64 images from the markdown output, which may be overwhelmingly long. This does not affect html or rawHtml formats. The image's alt text remains in the output, but the URL is replaced with a placeholder.",
                    "default": true
                  },
                  "blockAds": {
                    "type": "boolean",
                    "description": "Enables ad-blocking and cookie popup blocking.",
                    "default": true
                  },
                  "proxy": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "enhanced",
                      "auto"
                    ],
                    "description": "Specifies the type of proxy to use.\n\n - **basic**: Proxies for scraping sites with none to basic anti-bot solutions. Fast and usually works.\n - **enhanced**: Enhanced proxies for scraping sites with advanced anti-bot solutions. Slower, but more reliable on certain sites. Billed at the same credit cost as basic.\n - **auto**: Firecrawl will automatically retry scraping with enhanced proxies if the basic proxy fails. Enhanced proxies carry no credit surcharge, so either way only the regular cost is billed.",
                    "default": "auto"
                  },
                  "storeInCache": {
                    "type": "boolean",
                    "description": "If true, the page will be stored in the Firecrawl index and cache. Setting this to false is useful if your scraping activity may have data protection concerns. Using some parameters associated with sensitive scraping (e.g. actions, headers) will force this parameter to be false.",
                    "default": true
                  },
                  "lockdown": {
                    "type": "boolean",
                    "description": "If true, serves the request from Firecrawl's cache only and never makes an outbound request to the target URL. Designed for compliance-constrained or air-gapped environments where the scrape request itself could leak sensitive information. On cache miss, returns a 404 with error code SCRAPE_LOCKDOWN_CACHE_MISS (the URL is never logged on miss). Lockdown requests are treated as zero data retention. Default maxAge is extended to 2 years so existing cached pages remain eligible. Billed at 5 credits on hit, 1 credit on cache miss.",
                    "default": false
                  },
                  "redactPII": {
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "$ref": "#/components/schemas/RedactPIIOptions"
                      }
                    ],
                    "default": false,
                    "description": "Redact personally identifiable information from returned markdown. Pass `true` to use defaults, or an object to tune mode, entities, and replacement style."
                  },
                  "profile": {
                    "type": "object",
                    "description": "Enable persistent browser storage across scrape and interact sessions. Pass a profile when scraping to preserve cookies, localStorage, and session data. Sessions with the same profile name share browser state.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "description": "A name for the profile. Scrapes with the same name share browser state (cookies, localStorage, sessions)."
                      },
                      "saveChanges": {
                        "type": "boolean",
                        "default": true,
                        "description": "When true, browser state is saved back to the profile when the interact session stops. Set to false to load existing data without writing. Only one saving session is allowed at a time."
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "threatProtection": {
                    "$ref": "#/components/schemas/ThreatProtectionOverride"
                  },
                  "auditMetadata": {
                    "$ref": "#/components/schemas/AuditMetadata"
                  },
                  "zeroDataRetention": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, this will enable zero data retention for this scrape. To enable this feature, please contact help@firecrawl.dev"
                  },
                  "domainTools": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true on an ordinary URL scrape, `data.tools` lists tool contracts matched to the scraped page's domain (same `DiscoveredTool` shape as search). Requires the team's Alexandria access to be enabled and no zero data retention (403 otherwise). Free."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad request. `alexandria` cannot be combined with `url`, `formats`, or other scrape options, and only recognizes `provider`, `capability`, and `options`."
                    },
                    "code": {
                      "type": "string"
                    },
                    "chargeId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Also returned as `insufficient_credits` when the team lacks the credits to execute an `alexandria` request; in that case nothing is executed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    },
                    "code": {
                      "type": "string",
                      "example": "insufficient_credits"
                    },
                    "chargeId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Returned when `alexandria` execution or `domainTools` is not enabled for the team, when zero data retention is active, or when third-party data terms have not been accepted (`THIRD_PARTY_DATA_TERMS_REQUIRED`, which includes `requiresAction`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "THIRD_PARTY_DATA_TERMS_REQUIRED"
                    },
                    "requiresAction": {
                      "type": "boolean",
                      "description": "Present when the team must take action (e.g. accept third-party data terms) before this request can be retried."
                    },
                    "chargeId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. Returned as `unknown_provider` when an `alexandria` call references a provider or capability that does not exist; nothing is executed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "unknown_provider"
                    },
                    "chargeId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict. Returned as `duplicate_request` or `request_in_flight` when the same `x-request-id` is reused while the original request is still being processed or was already completed with different parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "duplicate_request"
                    },
                    "chargeId": {
                      "type": "string",
                      "description": "The charge ID of the in-flight or original request."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "code": {
                      "type": "string",
                      "example": "UNKNOWN_ERROR"
                    },
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable. Returned as `request_unresolved` when the outcome of an in-flight `alexandria` request with this `x-request-id` could not be determined — keep the same `x-request-id` and retry rather than issuing a new request. Also returned as `billing_unavailable` when credits could not be charged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "request_unresolved"
                    },
                    "chargeId": {
                      "type": "string",
                      "description": "The charge ID of the unresolved request. Reuse the same `x-request-id` to retry; do not create a new request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "summary": "Map multiple URLs based on options",
        "operationId": "mapUrls",
        "tags": [
          "Mapping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The base URL to start crawling from"
                  },
                  "search": {
                    "type": "string",
                    "description": "Specify a search query to order the results by relevance. Example: 'blog' will return URLs that contain the word 'blog' in the URL ordered by relevance."
                  },
                  "sitemap": {
                    "type": "string",
                    "enum": [
                      "skip",
                      "include",
                      "only"
                    ],
                    "description": "Sitemap mode when mapping. If you set it to `skip`, the sitemap won't be used to find URLs. If you set it to `only`, only URLs that are in the sitemap will be returned. By default (`include`), the sitemap and other methods will be used together to find URLs.",
                    "default": "include"
                  },
                  "includeSubdomains": {
                    "type": "boolean",
                    "description": "Include subdomains of the website",
                    "default": true
                  },
                  "ignoreQueryParameters": {
                    "type": "boolean",
                    "description": "Do not return URLs with query parameters",
                    "default": true
                  },
                  "ignoreCache": {
                    "type": "boolean",
                    "description": "Bypass the sitemap cache to retrieve fresh URLs. Sitemap data is cached for up to 7 days; use this parameter when your sitemap has been recently updated.",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of links to return",
                    "default": 5000,
                    "maximum": 100000
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Timeout in milliseconds. There is no timeout by default."
                  },
                  "location": {
                    "type": "object",
                    "description": "Location settings for the request. When specified, this will use an appropriate proxy if available and emulate the corresponding language and timezone settings. Defaults to 'US' if not specified.",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g., 'US', 'AU', 'DE', 'JP')",
                        "pattern": "^[A-Z]{2}$",
                        "default": "US"
                      },
                      "languages": {
                        "type": "array",
                        "description": "Preferred languages and locales for the request in order of priority. Defaults to the language of the specified location. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language",
                        "items": {
                          "type": "string",
                          "example": "en-US"
                        }
                      }
                    }
                  },
                  "auditMetadata": {
                    "$ref": "#/components/schemas/AuditMetadata"
                  },
                  "threatProtection": {
                    "$ref": "#/components/schemas/ThreatProtectionOverride"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "examples": {
                "example1": {
                  "summary": "Example 1",
                  "value": {
                    "url": "<string>",
                    "search": "<string>",
                    "sitemap": "include",
                    "includeSubdomains": true,
                    "ignoreQueryParameters": true,
                    "ignoreCache": false,
                    "limit": 5000,
                    "location": {
                      "country": "US",
                      "languages": [
                        "en-US"
                      ]
                    },
                    "timeout": 60000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Payment required to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request rate limit exceeded. Please wait and try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred on the server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "MonitorId": {
        "name": "monitorId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The monitor ID"
      }
    },
    "schemas": {
      "AuditMetadata": {
        "type": "object",
        "description": "User attribution included with SIEM logging events when SIEM Logging is enabled for the organization.",
        "additionalProperties": false,
        "required": [
          "username"
        ],
        "properties": {
          "username": {
            "type": "string",
            "maxLength": 1024,
            "description": "The username associated with the request."
          }
        }
      },
      "AgentTraceAgent": {
        "type": "object",
        "description": "Identity of the agent that emitted the event.",
        "required": [
          "id",
          "role",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "enum": [
              "orchestrator",
              "subagent",
              "system"
            ]
          },
          "name": {
            "type": "string"
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the parent agent (present on subagents)."
          }
        }
      },
      "AgentTraceError": {
        "type": "object",
        "description": "Structured error attached to terminal and error events.",
        "required": [
          "code",
          "source",
          "retryable",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "cancelled",
              "credit_limit_reached",
              "parent_finished",
              "refused",
              "internal"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "agent",
              "tool",
              "billing",
              "system"
            ]
          },
          "retryable": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AgentTraceArtifact": {
        "type": "object",
        "description": "Descriptor for a change to an output artifact.",
        "required": [
          "kind",
          "artifactId",
          "snapshotId",
          "change"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "json",
              "markdown",
              "html",
              "screenshot",
              "text"
            ]
          },
          "artifactId": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "description": "Workspace path of the artifact, e.g. /workspace/data.json."
          },
          "snapshotId": {
            "type": "string",
            "format": "uuid",
            "description": "Pass to GET /agent/{jobId}/snapshots/{snapshotId} to fetch this snapshot's content."
          },
          "change": {
            "type": "string",
            "enum": [
              "init",
              "partial",
              "append",
              "modify",
              "update"
            ]
          },
          "changedFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "itemCount": {
            "type": "integer"
          },
          "sourceToolCallId": {
            "type": "string",
            "description": "The tool call that produced this change, when applicable."
          }
        }
      },
      "AgentTraceEvent": {
        "description": "A canonical execution event from an agent run. Every event carries the envelope fields schemaVersion, eventId, runId, occurredAt, producerSequence and agent; the type field discriminates the variant. usage.recorded events are internal and never exposed, and agent.started events omit the model field.",
        "oneOf": [
          {
            "title": "run.started",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "run.started"
                ],
                "description": "Emitted when the run starts."
              }
            }
          },
          {
            "title": "run.cancel_requested",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "reason"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "run.cancel_requested"
                ],
                "description": "Emitted when cancellation is requested (via DELETE /agent/{jobId})."
              },
              "reason": {
                "type": "string",
                "enum": [
                  "user"
                ]
              }
            }
          },
          {
            "title": "run.finished",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "outcome",
              "error"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "run.finished"
                ],
                "description": "Terminal event for the run."
              },
              "outcome": {
                "type": "string",
                "enum": [
                  "succeeded",
                  "failed",
                  "cancelled",
                  "refused",
                  "credit_limit_reached"
                ]
              },
              "error": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AgentTraceError"
                  }
                ],
                "description": "Null when outcome is succeeded; otherwise the structured error."
              }
            }
          },
          {
            "title": "agent.started",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "agent.started"
                ],
                "description": "Emitted when an agent (orchestrator or subagent) starts."
              }
            }
          },
          {
            "title": "agent.finished",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "outcome",
              "durationMs",
              "error"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "agent.finished"
                ],
                "description": "Emitted when an agent finishes."
              },
              "outcome": {
                "type": "string",
                "enum": [
                  "succeeded",
                  "failed",
                  "cancelled",
                  "refused"
                ]
              },
              "durationMs": {
                "type": "integer"
              },
              "error": {
                "nullable": true,
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AgentTraceError"
                  }
                ],
                "description": "Null when outcome is succeeded; otherwise the structured error."
              }
            }
          },
          {
            "title": "browser.session.started",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "sessionId"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "browser.session.started"
                ],
                "description": "Emitted when a browser session starts."
              },
              "sessionId": {
                "type": "string"
              }
            }
          },
          {
            "title": "browser.session.finished",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "sessionId",
              "durationMs"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "browser.session.finished"
                ],
                "description": "Emitted when a browser session finishes."
              },
              "sessionId": {
                "type": "string"
              },
              "durationMs": {
                "type": "integer"
              }
            }
          },
          {
            "title": "progress.reported",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "phase",
              "message"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "progress.reported"
                ],
                "description": "Emitted when the orchestrator reports progress."
              },
              "phase": {
                "type": "string",
                "enum": [
                  "planning",
                  "working",
                  "finalizing"
                ]
              },
              "message": {
                "type": "string"
              }
            }
          },
          {
            "title": "reasoning.summary",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "text"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "reasoning.summary"
                ],
                "description": "A summary of the agent's reasoning."
              },
              "text": {
                "type": "string"
              }
            }
          },
          {
            "title": "tool_call.started",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "toolCallId",
              "toolName",
              "parameters"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "tool_call.started"
                ],
                "description": "Emitted when a tool call starts."
              },
              "toolCallId": {
                "type": "string"
              },
              "toolName": {
                "type": "string"
              },
              "parameters": {
                "description": "The input passed to the tool (arbitrary JSON)."
              }
            }
          },
          {
            "title": "tool_call.finished",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "toolCallId",
              "toolName",
              "result"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "tool_call.finished"
                ],
                "description": "Emitted when a tool call finishes."
              },
              "toolCallId": {
                "type": "string"
              },
              "toolName": {
                "type": "string"
              },
              "result": {
                "description": "The result returned by the tool (arbitrary JSON)."
              }
            }
          },
          {
            "title": "artifact.updated",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "artifact"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "artifact.updated"
                ],
                "description": "Emitted when an output artifact changes."
              },
              "artifact": {
                "$ref": "#/components/schemas/AgentTraceArtifact"
              }
            }
          },
          {
            "title": "error.occurred",
            "type": "object",
            "required": [
              "schemaVersion",
              "eventId",
              "runId",
              "occurredAt",
              "producerSequence",
              "agent",
              "type",
              "error"
            ],
            "properties": {
              "schemaVersion": {
                "type": "integer",
                "enum": [
                  1
                ]
              },
              "eventId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique ID of this event."
              },
              "runId": {
                "type": "string",
                "format": "uuid",
                "description": "The agent job ID this event belongs to."
              },
              "occurredAt": {
                "type": "string",
                "format": "date-time"
              },
              "producerSequence": {
                "type": "integer",
                "description": "Monotonic sequence number from the emitting agent; order events by it."
              },
              "agent": {
                "$ref": "#/components/schemas/AgentTraceAgent"
              },
              "type": {
                "type": "string",
                "enum": [
                  "error.occurred"
                ],
                "description": "Emitted when a non-fatal error occurs during the run."
              },
              "error": {
                "$ref": "#/components/schemas/AgentTraceError"
              }
            }
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "MonitorSchedule": {
        "type": "object",
        "description": "Schedule for monitor checks. Provide either `cron` or `text`.",
        "properties": {
          "cron": {
            "type": "string",
            "description": "Five-field cron expression. Minimum interval is 5 minutes.",
            "example": "*/30 * * * *"
          },
          "text": {
            "type": "string",
            "description": "Natural language schedule. Supported examples include `every 30 minutes`, `every 15 minutes starting at :07`, `hourly`, `every 2 hours`, `daily`, `daily at 9:00`, `daily at 9am`, `daily at 5:30 PM`, and `weekly`.",
            "example": "every 30 minutes"
          },
          "timezone": {
            "type": "string",
            "default": "UTC",
            "description": "IANA timezone for the schedule.",
            "example": "UTC"
          }
        }
      },
      "MonitorWebhook": {
        "type": "object",
        "description": "Webhook destination for monitor page and check completion events.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to send monitor webhooks to."
          },
          "headers": {
            "type": "object",
            "description": "Headers to send to the webhook URL.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata included in webhook payloads.",
            "additionalProperties": true
          },
          "events": {
            "type": "array",
            "description": "Monitor webhook events to receive. Defaults to all monitor events.",
            "items": {
              "type": "string",
              "enum": [
                "monitor.page",
                "monitor.check.completed"
              ]
            }
          }
        },
        "required": [
          "url"
        ]
      },
      "MonitorNotification": {
        "type": "object",
        "properties": {
          "email": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "default": false
              },
              "recipients": {
                "type": "array",
                "maxItems": 25,
                "items": {
                  "type": "string",
                  "format": "email"
                }
              },
              "includeDiffs": {
                "type": "boolean",
                "default": false,
                "description": "Include changed page details in email summaries."
              }
            }
          }
        }
      },
      "MonitorTarget": {
        "oneOf": [
          {
            "type": "object",
            "title": "Scrape target",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Optional stable ID for this target. Generated if omitted."
              },
              "type": {
                "type": "string",
                "enum": [
                  "scrape"
                ]
              },
              "urls": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "scrapeOptions": {
                "$ref": "#/components/schemas/ScrapeOptions"
              }
            },
            "required": [
              "type",
              "urls"
            ]
          },
          {
            "type": "object",
            "title": "Crawl target",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Optional stable ID for this target. Generated if omitted."
              },
              "type": {
                "type": "string",
                "enum": [
                  "crawl"
                ]
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "crawlOptions": {
                "type": "object",
                "description": "Crawl options such as `limit`, `maxDepth`, `includePaths`, and `excludePaths`."
              },
              "scrapeOptions": {
                "$ref": "#/components/schemas/ScrapeOptions"
              }
            },
            "required": [
              "type",
              "url"
            ]
          },
          {
            "type": "object",
            "title": "Search target",
            "description": "Runs web search queries on each check and alerts on new results that match the monitor's goal. Requires a non-empty top-level `goal` on the monitor unless `judgeEnabled` is `false`.",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Optional stable ID for this target. Generated if omitted."
              },
              "type": {
                "type": "string",
                "enum": [
                  "search"
                ]
              },
              "queries": {
                "type": "array",
                "minItems": 1,
                "maxItems": 12,
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                },
                "description": "Search queries to run on each check (1-12)."
              },
              "searchWindow": {
                "type": "string",
                "enum": [
                  "5m",
                  "15m",
                  "1h",
                  "6h",
                  "24h",
                  "7d"
                ],
                "default": "24h",
                "description": "Recency filter — only consider results published within this window."
              },
              "maxResults": {
                "type": "integer",
                "minimum": 1,
                "maximum": 50,
                "default": 10,
                "description": "Total results to evaluate per check, merged and deduped across all queries (a combined cap, not per-query)."
              },
              "includeDomains": {
                "type": "array",
                "maxItems": 50,
                "items": {
                  "type": "string"
                },
                "description": "Optional. Restrict results to these domains."
              },
              "excludeDomains": {
                "type": "array",
                "maxItems": 50,
                "items": {
                  "type": "string"
                },
                "description": "Optional. Drop results from these domains."
              }
            },
            "required": [
              "type",
              "queries"
            ]
          }
        ]
      },
      "MonitorCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 256
          },
          "schedule": {
            "$ref": "#/components/schemas/MonitorSchedule"
          },
          "webhook": {
            "$ref": "#/components/schemas/MonitorWebhook"
          },
          "notification": {
            "$ref": "#/components/schemas/MonitorNotification"
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/MonitorTarget"
            }
          },
          "retentionDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365,
            "default": 30
          },
          "goal": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true,
            "description": "Plain-language goal used to judge whether changed pages are meaningful. If provided and `judgeEnabled` is omitted, judging is enabled automatically. Required (non-empty) when any target is a `search` target, unless `judgeEnabled` is `false`."
          },
          "judgeEnabled": {
            "type": "boolean",
            "description": "Whether to judge changed pages against `goal`. Requires a non-empty `goal` to run."
          }
        },
        "required": [
          "name",
          "schedule",
          "targets"
        ]
      },
      "MonitorUpdateRequest": {
        "type": "object",
        "description": "Partial monitor update payload. Include at least one field.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 256
          },
          "schedule": {
            "$ref": "#/components/schemas/MonitorSchedule"
          },
          "webhook": {
            "$ref": "#/components/schemas/MonitorWebhook"
          },
          "notification": {
            "$ref": "#/components/schemas/MonitorNotification"
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/MonitorTarget"
            }
          },
          "retentionDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365
          },
          "goal": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true,
            "description": "Plain-language goal used to judge whether changed pages are meaningful. If provided and `judgeEnabled` is omitted, judging is enabled automatically. Required (non-empty) when any target is a `search` target, unless `judgeEnabled` is `false`."
          },
          "judgeEnabled": {
            "type": "boolean",
            "description": "Whether to judge changed pages against `goal`. Requires a non-empty `goal` to run."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused"
            ]
          }
        }
      },
      "MonitorSummary": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer"
          },
          "same": {
            "type": "integer"
          },
          "changed": {
            "type": "integer"
          },
          "new": {
            "type": "integer"
          },
          "removed": {
            "type": "integer"
          },
          "error": {
            "type": "integer"
          }
        }
      },
      "Monitor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "deleted"
            ]
          },
          "schedule": {
            "type": "object",
            "properties": {
              "cron": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              }
            }
          },
          "nextRunAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastRunAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "currentCheckId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorTarget"
            }
          },
          "webhook": {
            "$ref": "#/components/schemas/MonitorWebhook"
          },
          "notification": {
            "$ref": "#/components/schemas/MonitorNotification"
          },
          "retentionDays": {
            "type": "integer"
          },
          "estimatedCreditsPerMonth": {
            "type": "integer",
            "nullable": true,
            "description": "Upper-bound monthly credit estimate. When judging is enabled, actual usage may be lower because judge credits are only charged for changed pages that are judged."
          },
          "lastCheckSummary": {
            "$ref": "#/components/schemas/MonitorSummary"
          },
          "goal": {
            "type": "string",
            "nullable": true
          },
          "judgeEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MonitorCheck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "monitorId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed",
              "partial",
              "skipped_overlap",
              "skipped_no_credits"
            ]
          },
          "trigger": {
            "type": "string",
            "enum": [
              "scheduled",
              "manual"
            ]
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimatedCredits": {
            "type": "integer",
            "nullable": true,
            "description": "Upper-bound credits reserved for this check before Firecrawl knows how many pages changed and require judging."
          },
          "reservedCredits": {
            "type": "integer",
            "nullable": true
          },
          "actualCredits": {
            "type": "integer",
            "nullable": true,
            "description": "Final credits charged for this check after scrapes, crawls, and any changed-page judge calls complete."
          },
          "billingStatus": {
            "type": "string"
          },
          "summary": {
            "$ref": "#/components/schemas/MonitorSummary"
          },
          "targetResults": {
            "type": "array",
            "nullable": true
          },
          "notificationStatus": {
            "type": "object",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MonitorCheckPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "targetId": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "same",
              "new",
              "changed",
              "removed",
              "error"
            ]
          },
          "previousScrapeId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "currentScrapeId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "statusCode": {
            "type": "integer",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "description": "Extra per-page metadata. For search monitors this includes `searchStatus`, the finer-grained search disposition behind the top-level `status`: `alert` (maps to `new`), `already_seen`, `watching`, `ignored` (all map to `same`), or `skipped` (maps to `error`)."
          },
          "judgment": {
            "$ref": "#/components/schemas/MonitorPageJudgment"
          },
          "diff": {
            "type": "object",
            "nullable": true,
            "description": "Inline diff artifact when the page changed. The shape depends on what the monitor's scrapeOptions.formats asked for. Markdown-only monitors populate both `text` (unified diff) and `json` (parseDiff AST). JSON-extraction monitors populate `json` as a per-field `{previous, current}` map keyed by JSON path. Mixed-mode monitors (`changeTracking` with both `json` and `git-diff` modes) populate both `text` (markdown sidecar) and `json` (per-field diff).",
            "properties": {
              "text": {
                "type": "string",
                "description": "Unified markdown diff. Present on markdown-only and mixed-mode monitors."
              },
              "json": {
                "type": "object",
                "description": "For markdown-only monitors, a parseDiff AST `{ files: [...] }`. For JSON-extraction (and mixed-mode) monitors, a per-field `{ previous, current }` map keyed by the JSON path into the extraction (e.g. `plans[0].price`)."
              }
            }
          },
          "snapshot": {
            "type": "object",
            "nullable": true,
            "description": "Snapshot of the current JSON extraction at this run. Present on JSON-extraction and mixed-mode monitors; absent for markdown-only monitors.",
            "properties": {
              "json": {
                "type": "object",
                "description": "The full structured JSON extracted on this run, matching the schema/prompt declared on the target's `changeTracking` format."
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MonitorPageJudgment": {
        "type": "object",
        "nullable": true,
        "properties": {
          "meaningful": {
            "type": "boolean",
            "description": "Whether the changed page is meaningful for the monitor goal."
          },
          "confidence": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low"
            ]
          },
          "reason": {
            "type": "string"
          },
          "meaningfulChanges": {
            "type": "array",
            "description": "Goal-relevant changes selected by the judge from the page diff.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "added",
                    "removed",
                    "changed"
                  ]
                },
                "before": {
                  "type": "string",
                  "nullable": true
                },
                "after": {
                  "type": "string",
                  "nullable": true
                },
                "reason": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MonitorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Monitor"
          }
        }
      },
      "MonitorListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitor"
            }
          }
        }
      },
      "MonitorRunResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/MonitorCheck"
          }
        }
      },
      "MonitorCheckListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorCheck"
            }
          }
        }
      },
      "MonitorCheckDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL to fetch the next page of monitor check page results, if any."
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MonitorCheck"
              },
              {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MonitorCheckPage"
                    }
                  },
                  "next": {
                    "type": "string",
                    "nullable": true,
                    "description": "URL to fetch the next page of monitor check page results, if any."
                  }
                }
              }
            ]
          }
        }
      },
      "Formats": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "title": "Markdown",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "markdown"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Summary",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "summary"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "html"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Raw HTML",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "rawHtml"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Raw Base64",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "rawBase64"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Links",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "links"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Images",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "images"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Screenshot",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "screenshot"
                  ]
                },
                "fullPage": {
                  "type": "boolean",
                  "description": "Whether to capture a full-page screenshot (ignores viewport.height) or limit to the current viewport.",
                  "default": false
                },
                "quality": {
                  "type": "integer",
                  "description": "The quality of the screenshot, from 1 to 100. 100 is the highest quality."
                },
                "viewport": {
                  "type": "object",
                  "properties": {
                    "width": {
                      "type": "integer",
                      "description": "The width of the viewport in pixels"
                    },
                    "height": {
                      "type": "integer",
                      "description": "The height of the viewport in pixels"
                    }
                  },
                  "required": [
                    "width",
                    "height"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "JSON",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "json"
                  ]
                },
                "schema": {
                  "type": "object",
                  "description": "The schema to use for the JSON output. Must conform to [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "The prompt to use for the JSON output"
                },
                "checkPromptInjection": {
                  "type": "boolean",
                  "description": "When enabled, scans the scraped page content for prompt injection attempts before running the extraction. If an injection is detected, the request fails with a 403 and error code SCRAPE_PROMPT_INJECTION_DETECTED. Adds 4 credits when the check runs. Defaults to false.",
                  "default": false
                }
              },
              "required": [
                "type"
              ]
            },
            {
              "type": "object",
              "title": "Change Tracking",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "changeTracking"
                  ]
                },
                "modes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "git-diff",
                      "json"
                    ]
                  },
                  "description": "The mode to use for change tracking. 'git-diff' provides a detailed diff, and 'json' compares extracted JSON data."
                },
                "schema": {
                  "type": "object",
                  "description": "Schema for JSON extraction when using 'json' mode. Defines the structure of data to extract and compare. Must conform to [JSON Schema](https://json-schema.org/)."
                },
                "prompt": {
                  "type": "string",
                  "description": "Prompt to use for change tracking when using 'json' mode. If not provided, the default prompt will be used."
                },
                "tag": {
                  "type": "string",
                  "nullable": true,
                  "default": null,
[...]
